<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    
    <style>
    .column {
        float: left;
        width: 50%;
       
       
        }

    </style>

</head>

<body>
<!-- stuff -->


<br><br><br>





            
    <center>
        <div class="row">
            <div class="column">
                <iframe src="yeni/email1.html" height="800" width="900"></iframe>
               
                
            </div>
            <div class="column">
                <iframe src="yeni/email2.html" height="800" width="900"></iframe>
              
            </div>
        </div>
    </center>   


</body>
  
</html>

