<!DOCTYPE html>
<html lang="en" style="scroll-behavior: smooth;">
<head>
    
    <title>Oops! That was Phishing!</title>

    
    <!-- End Google Tag Manager -->
    <!-- Title -->
    <!-- Required Meta Tags Always Come First -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="robots" content="noindex, nofollow">

    <!-- Favicon -->
    <link rel="shortcut icon" href="https://d3p8e1mvy30w84.cloudfront.net/assets/images/favicon.svg">

    <!-- Font -->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">

    <link href="../../dist/css/style.min.css" rel="stylesheet">
    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="https://d3p8e1mvy30w84.cloudfront.net/assets/vendor/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="https://d3p8e1mvy30w84.cloudfront.net/assets/vendor/hs-mega-menu/dist/hs-mega-menu.min.css">

    <!-- CSS Front Template -->
    <link rel="stylesheet" href="https://d3p8e1mvy30w84.cloudfront.net/assets/css/theme.min.css">
    <script src="https://d3p8e1mvy30w84.cloudfront.net/assets/vendor/jquery/dist/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            uri = "https://awo0vrpjg3.execute-api.ap-southeast-2.amazonaws.com/default/caniphish-phish-response" + document.location.search;
            console.log(uri);

            $.ajax({
                url: uri,
                type: 'GET',
                dataType: "jsonp",
                success: function (response) {
                    console.log(response); // server response
                }

            });
        });</script>
</head>
<body>
    <style>
        .container {
            max-width: 1260px !important;
        }
    </style>
    <!-- ========== HEADER ========== -->
    <!--<header id="header" class="header header-box-shadow-on-scroll header-abs-top header-bg-transparent header-show-hide"
            data-hs-header-options='{
              "fixMoment": 200,
              "fixEffect": "slide"
            }'>
        <div class="header-section">-->
            <!-- Topbar -->
            <!-- End Topbar -->

            <!--<div id="logoAndNav" class="container">-->
                <!-- Nav -->
                <!--<nav class="js-mega-menu navbar navbar-expand-lg">-->
                    <!-- Logo -->
                    <!--<a class="navbar-brand navbar-brand" href="/index" aria-label="CanIPhish" style="z-index:1">
                        <img src="https://d3p8e1mvy30w84.cloudfront.net/assets/images/caniphish/caniphish-logo-light.svg" alt="CanIPhish logo" style="height:60px; width:180px;">
                    </a>-->
                    <!-- End Responsive Toggle Button -->
                    <!-- Navigation -->
                    
                    <!-- End Navigation -->
                <!--</nav>-->
                <!-- End Nav -->
            <!--</div>
        </div>
    </header>-->
    <!-- ========== END HEADER ========== -->
    <!-- ========== MAIN CONTENT ========== -->
    <main id="content" role="main">
        <!-- Hero Section -->
        

<link rel="stylesheet" href="/introjs/introjs.css">
<div class="position-relative overflow-hidden">
    <div class="container space-top-2 position-relative">
        <!-- Title -->
        <div class="w-md-80 w-lg-70 text-center mx-md-auto mb-5 mb-md-9">
                <h1 class="mb-3 text-danger">Oops! That was a phishing email!</h1>
                <p class="lead">This was an authorised phishing simulation run as part of a security awareness training exercise.</p>
        </div>
        <!-- End Title -->
        <!-- SVG Shapes -->
        <figure class="position-absolute z-index-n1" style="top: -35rem; left: 55rem; width: 55rem; height: 55rem;">
            <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 260 260">
                <circle fill="#e7eaf3" opacity=".7" cx="130" cy="130" r="130" />
            </svg>
        </figure>
        <figure class="position-absolute z-index-n1" style="bottom: 7rem; left: -20rem; width: 15rem; height: 15rem;">
            <img class="img-fluid" src="https://d3p8e1mvy30w84.cloudfront.net/assets/svg/components/dots-3.svg" alt="Gray dot header">
        </figure>
        <!-- End SVG Shapes -->
        <div class="row justify-content-lg-between mb-7">
            <div class="col-md-6 col-lg-5">
                <!-- Info -->
                <div class="mb-5">
                    <h2>
                        What is phishing?
                    </h2>
                    <p>Phishing is a type of social engineering attack often used to steal user data (e.g. login credentials and credit card numbers) or compromise computer networks. It occurs when an attacker, masquarades as a trusted entity and entices their recipients into opening an email, instant message, or text message.</p>
                    <p>Phishing attacks remain among the most common method used by malicious cyber actors to target organisations. While phishing messages are commonly sent out in their thousands, spear-phishing campaigns are typically aimed at a particular group of recipients.</p>
                        <p><h5>Read more on the <a class="font-weight-bold" href="https://caniphish.s3.ap-southeast-2.amazonaws.com/WebsiteTemplates/Phishing+Overview.pdf" target="_blank">types of phishing attacks</a> to better understand the signs of phishing and learn some simple tricks.</h5></p>
                </div>
            </div>
            <div class="col-md-6 d-md-inline-block col-lg-7" style="margin-right:-50px;">
                <figure class="w-100">
                    <div class="embed-responsive embed-responsive-16by9 mb-4" style="background-color: #555; box-shadow: 0 0 5px 10px #5555554f;"><iframe style="position:absolute;top:0;left:0;width:100%;height:100%;" src="https://www.youtube.com/embed/QbvZuLJJB0g" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
                </figure>
            </div>
        </div>
    </div>
</div>
<script>
    var frame = document.querySelector('.my-frame');
    var newData;
    $.get('https://caniphish.s3.ap-southeast-2.amazonaws.com/EmailTemplates/Common/Zoom-Invite.html').then(function (data) {
        rawData = data;
        newData = replaceAll(rawData, 'href="{{.PhishWebsite}}"', 'href="#MaliciousLink"');
        newData = replaceAll(newData, 'target="_blank"', '');
        newData = replaceAll(newData, '{{.SenderProfile-DisplayName}}', "Zoom Invite");
        newData = replaceAll(newData, '{{.Target-Email}}', "umutbaris@sabanciuniv.edu");

        newData = replaceAll(newData, '{{.Target-FName}}', "[REDACTED]");
        newData = replaceAll(newData, '{{.Target-LName}}', "[REDACTED]");
        newData = replaceAll(newData, '{{.Target-JTitle}}', "[REDACTED]");
        newData = replaceAll(newData, '{{.Target-Company}}', "[REDACTED]");
                
        newData = replaceAll(newData, '{{.DateTimeNow}}', new Date($.now()));
        newData = replaceAll(newData, '{{.DateTimeGoogle}}', new Date($.now()));
        newData += "<style>a { cursor: pointer; }</style>";
        newData += `<style>
       .ripple{
  padding: 2px;
  border-radius: 5%;
  border-bottom:2px red solid;
  animation: pulse 2s infinite;
}
a.ripple, span.ripple * {
padding: 0px !important;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(255,0,0, 0.4);
  }
  70% {
      -webkit-box-shadow: 0 0 0 10px rgba(255,0,0, 0);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(255,0,0, 0);
  }
}
</style>`;

        frame.contentWindow.document.open('text/html', 'replace');
        frame.contentWindow.document.write(newData);
        frame.contentWindow.document.close();
    });
</script>
<script src="/introjs/intro.js"></script>
<script>
    function beginTour() {
        var intro = introJs().setOptions({
            showProgress: true,
            steps: [{
                element: document.querySelector('#emailTitle'),
                title: "Email Subject: Urgent Action",
                intro: "Phishing attacks are designed to put a <b>time pressure on us to act fast</b>. This can cause us to skip much of the critical thinking we normally apply when browsing our emails.",
                position: 'bottom'
            },
            {
                element: document.querySelector('#phishSender'),
                title: "Email Sender: Fradulent Address",
                intro: "Attackers will often use <b>obscure email addresses and use display names</b> that appear legitimate to the naked eye. Be cautious and carefully inspect email sender information.",
                position: 'bottom'
            },
            {
                title: "Email Content: Engaging Topic",
                element: document.querySelector('#wrapper'),
                intro: "Attackers often use a <b>broad but important topic</b> to increase the likelihood of a victim interacting with the phishing material. These topics may include geographic, political or financial themes.",
                position: 'bottom'
            },
            {
                title: "Email Link: Phishing Website",
                element: document.querySelector('#wrapper'),
                intro: "Malicious links will often appear with innocent looking text. By <b>hovering over the link</b> you'll see the true link location. See how many malicious buttons or links you can find!",
                position: 'bottom'
            },
            {
                element: document.querySelector('#entireEmail'),
                title: "Wrapping up",
                intro: "If you <b>spot anything suspicious</b> with the email sender, subject, content, links or attachments... Don't take the risk. Report the email to your IT or Security team for review.",
                position: 'bottom'
            }]
        });
        intro.onbeforechange(function () {
            if (this._currentStep === 3) {
                newData = replaceAll(newData, 'href="#MaliciousLink"', 'href="#MaliciousLink" class="ripple"');
                frame.contentWindow.document.open('text/html', 'replace');
                frame.contentWindow.document.write(newData);
                frame.contentWindow.document.close();
                return true;
            }
            else {
                newData = replaceAll(newData, 'href="#MaliciousLink" class="ripple"', 'href="#MaliciousLink"');
                frame.contentWindow.document.open('text/html', 'replace');
                frame.contentWindow.document.write(newData);
                frame.contentWindow.document.close();
                return true;
            }
        });
        intro.start();
    }
</script>
<script>
    function escapeRegExp(string) {
        return string.replace(/[.*+?^${}()|[\]\\]/g, "\\$&");
    }

    /* Define functin to find and replace specified term with replacement string */
    function replaceAll(str, term, replacement) {
        return str.replace(new RegExp(escapeRegExp(term), 'g'), replacement);
    }
</script>
        <!-- Start of caniphish Zendesk Widget script -->
        <

    </main>
    <!-- ========== END MAIN CONTENT ========== -->
    <!-- ========== FOOTER ========== -->
    <!--<footer class="overflow-hidden">
        <div class="container space-1">
            <hr class="my-4">-->
            <!-- Content -->
            <!--<div class="row">

                <div style="text-align: center;" class="col-sm-6 col-lg-3 order-lg-4 align-self-center align-self-lg-start">
                    <p class="small">© Copyright 2023. Can I Phish Pty Ltd.</p>
                </div>
            </div>
        </div>-->
        <!-- End Content -->
    <!--</footer>-->
    <!-- Go to Top -->
    <a class="js-go-to go-to position-fixed" href="javascript:;" style="visibility: hidden;"
       data-hs-go-to-options='{
       "offsetTop": 700,
       "position": {
         "init": {
           "right": 15
         },
         "show": {
           "bottom": 15
         },
         "hide": {
           "bottom": -15
         }
       }
     }'>
        <i class="fas fa-angle-up"></i>
    </a>
</body>
</html>