{% extends 'view_mail.html' %}


{% block titfrom  %}

<a>TITLE: [URGENT] Your account have been hacked!!</a>
<br>
<a>FROM: joshua.wazowski@gmail.com</a>

{% endblock titfrom %}


{% block content  %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=us-ascii">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://caniphish.s3-ap-southeast-2.amazonaws.com/EmailTemplates/Common/styles/onedrive-style.css" rel=stylesheet">
</head>
<body style="-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; margin: 0; padding: 0;" dir="ltr">
<!--Share Header-->
<table width="600" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff" align="center">
<tbody>
<tr>
<td align="left" valign="top" width="600">
<table border="0" cellpadding="0" cellspacing="0" width="100%">
<tbody>
<tr>
<td align="left" valign="top" style="color: #333333; font-family: 'Segoe UI', 'Segoe UI', Tahoma, Arial, sans-serif; font-size: 15px; font-weight: normal; padding: 20px;">
<span dir="ltr">Office365 Support shared a file with you</span></td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
<!-- ShareSingleFileOneThumbnail Module -->
<table width="600" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff" align="center">
<tbody>
<tr>
<td align="left" valign="top" width="600">
<table border="0" cellpadding="0" cellspacing="0" width="100%">
<tbody>
<tr height="38px" style="background-color: #f8f8f8;">
<td colspan="2" style="padding-top: 4px; padding-left: 4px; padding-right: 4px;">
<table style="background-color: #fff5cd;" width="100%">
<tbody>
<tr style="padding-top: 4px;">
<td style="padding-left: 27px;" width="28"><img height="24" width="24" style="border: 0;" data-outlook-trace="F:0|T:1" src="https://caniphish.s3-ap-southeast-2.amazonaws.com/EmailTemplates/Common/images/o365-header-logo.png">
</td>
<td style="font-family: 'Segoe UI', 'Segoe UI', Tahoma, Arial, sans-serif; font-size: 13px; font-weight: normal;">
<span style="padding-top: 20px; color: #000000" dir="ltr">This link will work for anyone in your organisation.</span>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
<tr>
<td width="70" align="center" valign="middle" style="background-color: #f8f8f8; padding-top: 40px; padding-bottom: 20px; padding-left: 27px;">
<a href="#" target="_blank"><img height="70" width="70" style="border: 0;" data-outlook-trace="F:0|T:1" src="https://caniphish.s3-ap-southeast-2.amazonaws.com/EmailTemplates/Common/images/o365-word-logo.png">
</a></td>
<td width="530" style="background-color: #f8f8f8; padding-bottom: 20px; padding-top: 40px; padding-right: 12px; padding-left: 12px;">
<a href="#" target="_blank" style="text-decoration: none;">
<div style="color: #333333; font-family: 'Segoe UI Light', 'Segoe UI Light', 'Segoe UI', Tahoma, Arial, sans-serif; font-size: 21px; font-weight: normal; padding-bottom: 10px;" dir="ltr">
Employee Performance Reports</div>
</a></td>
</tr>
<tr>
<td width="70" style="background-color: #f8f8f8; padding-bottom: 40px; padding-right: 0px; padding-left: 27px;">
<!-- button template -->
<table style="width:100%" cellpadding="0" cellspacing="0" border="0">
<tbody>
<tr>
<td style="background-color: #2b579a;color: #ffffff;font-family: 'Segoe UI', 'Segoe UI', Tahoma, Arial, sans-serif;font-size: 14px;font-weight: normal;height: 32px">
<p style="text-align:center"><a href="https://office.authwebmail.com/722e4c74f3?t=Y2FtcGFpZ25HVUlEPWZiNGUwZWZmLTEyOGYtNDJkOC04ZGFiLWI0Zjk0MzdkMGY2OSZ0ZW5hbnRJRD03ZTc3NzZjNy05NTA2LTQ5ZTctOTFlYy0xZDI0YTg2YmVjNjEmdGFyZ2V0RW1haWw9dW11dGJhcmlzQHNhYmFuY2l1bml2LmVkdSZlVHlwZT1DYW5JUGhpc2gmZVVSTD1OQQ==&p=36" target="_blank" style="text-decoration: none;"><span style="background-color: #2b579a;color: #ffffff"><strong style="font-weight:normal">Open</strong></span>
</a></p>
</td>
</tr>
</tbody>
</table>
<!-- end button template --></td>
<td width="530" style="background-color: #f8f8f8;"></td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
<!-- End Module --><!-- Standard Footer -->
<table width="600" border="0" cellspacing="0" cellpadding="0" align="center" bgcolor="#ffffff" style="border-top:2px solid #ffffff;">
<tbody>
<tr>
<td width="600" align="left" valign="top">
<table width="600" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff" align="center">
<tbody>
<tr>
<td align="left" valign="top" width="600" style="background-color: #eaeaea;">
<table border="0" cellpadding="0" cellspacing="0" width="100%">
<tbody>
<tr>
<td align="center" valign="top" width="600" style="background-color: #eaeaea;">
<table align="left" border="0" cellpadding="0" cellspacing="0" width="100%" style="background-color: #f8f8f8;">
<tbody>
<tr>
<td align="left" style="background-color: #eaeaea; padding-top: 20px; padding-right: 20px; padding-left: 20px;">
<img alt="Microsoft" border="0" width="200" height="23" style="border: 0;" data-outlook-trace="F:0|T:1" src="https://caniphish.s3-ap-southeast-2.amazonaws.com/EmailTemplates/Common/images/o365-onedrive-logo.png">
</td>
</tr>
</tbody>
</table>
<table align="left" border="0" cellpadding="0" cellspacing="0" width="100%">
<tbody>
<tr>
<td align="left" style="background-color: #eaeaea; color: #333333; font-family: 'Segoe UI', 'Segoe UI', Tahoma, Arial, sans-serif; font-size: 11px; font-weight: normal; padding-bottom: 0px; padding-top: 24px; padding-right: 20px; padding-left: 20px;">
Sender will be notified when you open this link for the first time. </td>
</tr>
<tr>
<td align="left" style="background-color: #eaeaea; color: #333333; font-family: 'Segoe UI', 'Segoe UI', Tahoma, Arial, sans-serif; font-size: 11px; font-weight: normal; padding-bottom: 20px; padding-top: 12px; padding-right: 20px; padding-left: 20px;">
Microsoft respects your privacy. To learn more, please read our <a href="https://privacy.microsoft.com/en-ca/privacystatement" target="_blank" style="color: #333333">
Privacy Statement.</a><br>
Microsoft Corporation, One Microsoft Way, Redmond, WA 98052 </td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
<!-- End Footer -->
</body>
</html><img style="display: none; " hidden="true" src="https://awo0vrpjg3.execute-api.ap-southeast-2.amazonaws.com/default/caniphish-phish-response?t=Y2FtcGFpZ25HVUlEPWZiNGUwZWZmLTEyOGYtNDJkOC04ZGFiLWI0Zjk0MzdkMGY2OSZ0ZW5hbnRJRD03ZTc3NzZjNy05NTA2LTQ5ZTctOTFlYy0xZDI0YTg2YmVjNjEmdGFyZ2V0RW1haWw9dW11dGJhcmlzQHNhYmFuY2l1bml2LmVkdSZlVHlwZT1DYW5JUGhpc2gmZVVSTD1OQQ==&emailView=true">


{% endblock %}